.row2 {
    text-align: center;
} 
h5 {
    text-align: center;
}
#Services p {
    text-align: center;
}
h1 {
    font-size: medium;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.row4 p {
    text-align: center; 
}
.icon-hidden {
    display: none;
}



